@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-width: 340px;
  color: var(--foreground);
  background: var(--background);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", sans-serif;
  overscroll-behavior: none;
}

.coffee-beans-bg {
  background-image: url("/coffee-beans-bg.png");
  background-size: 337px 600px;
  background-repeat: repeat;
  background-color: rgba(255, 255, 255, 0.4);
  background-blend-mode: lighten;
}

.layout-spacing-rule {
  @apply px-12 max-sm:px-4 w-full;
}

.footer-contact {
  @apply text-sm font-medium text-zinc-600;
}

.footer-heading {
  @apply text-lg font-bold text-zinc-800 max-sm:text-base;
}

.footer-url {
  @apply flex-row flex gap-1.5 items-center text-sm font-medium text-zinc-700;
}
